
html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}


h1 {
    text-align: center;
    font-size: 32px;
    padding-top: 40px;
   font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 15px;
}


body {
  font-size: 14px;
  font-family: monospace;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.board-wrapper {
  padding: 0px;
}


.image-wrapper {
  width: 50%;
  display: inline-block;
  padding: 1px;
}


.game-image {
  width: 100%;

}

.show-border {
  border-style: solid;
  border-width: 6px 8px;
}

.hide-border {
  border-style: none;
  border-width: 0px;
}


.red-team-image {
  border-color: #D62839;
}

.blue-team-image {
  border-color: #0D4C80;
}

.killer-image {
  border-color: black;
  border-style: solid;
}


.team-red {
  text-align: center;
  color: #D62839;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 30px;
  background: white;
  /*height: 60px;  */
}

.word-input {
  width: 70%;
  display: inline-block;
  /*line-height: 30px;  */
}

.submit {
  display: inline-block;
  float: right;
  background-color: black;
}





