
/*GENERAL*/

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}


h1 {
    text-align: center;
    font-size: 32px;
    padding-top: 40px;
   font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 15px;
}


body {
  font-size: 14px;
  font-family: monospace;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.made-with-love {
  padding-bottom: 20px;
  color: #aaaaaa
}

.score-wrapper {
}

.score-wrapper h2 {
  font-size: 20px;
}

.blue-score {
  color: #0D4C80;
  font-weight: bold;
}

.red-score {
  color: #D62839;
  font-weight: bold;
}


.team-wrapper {

}

.red-team {
  text-align: center;
  color: #D62839;
}

.blue-team {
  text-align: center;
  color: #0D4C80;
}


/*BOARD*/

.round-wrapper {
}

.number-images {
  font-weight: bold;
}

.word {
  font-weight: bold;
}


.board-wrapper {
  padding-top: 20px;
}

.image-wrapper {
  width: 50%;
  display: inline-block;
  padding: 1px;
}

.image-wrapper img {
  width: 100%;
}

.show-border {
  border-style: solid;
  border-width: 6px 8px;
}

.hide-border {
  border-style: none;
  border-width: 0px;
}

.image-red {
  border-color: #D62839;
}

.image-blue {
  border-color: #0D4C80;
}

.image-black {
  border-color: black;
}

.word-input-wrapper {
  padding: 0px 15px;
}

.word-input {
  width: 75%;
  display: inline-block;
  /*line-height: 30px;  */
  margin-bottom: 20px;
}

.submit {
  display: inline-block;
  float: right;
  background-color: black;
  margin-bottom: 20px;
  color: white;
}

.progress-bar-wrapper {

}

#progress-bar-back {
  width: 100%;
  background-color: lightgray;
}

#progress-bar {
  width: 1%;
  height: 10px;
  background-color: black;
}

.bar-red {
  background-color: #D62839 !important;
}

.bar-blue {
  background-color: #0D4C80 !important;
}


/*HOME PAGE!*/

.lobby-wrapper {
  padding-top: 100px;
}

.lobby-input {
  width: 75%;
  display: inline-block;
  /*line-height: 30px;  */
  margin-bottom: 20px;
}

.lobby-submit {
  display: inline-block;
  float: right;
  background-color: black;
  margin-bottom: 20px;
  color: white;
}

/*GAME OVER PAGE*/

.play-again-wrapper {
  padding-top: 100px;
  align-self: center;
}

.play-again-submit {
  background-color: black;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60%;
}


/*ROUND OVER PAGE*/

.continue-round-wrapper {
  padding-top: 100px;
  align-self: center;
}

.continue-round-submit {
  background-color: black;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60%;
}

/*LOADING PAGE*/

.loading-wrapper {
  padding-top: 100px;
}

.rotate {
  animation: rotation 2s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
